<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clipboard_Test_Prj.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Clipboard_Test_Prj.My.MySettings>
            <setting name="favoriteCollection" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Pa$$wordPa$$word123</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="recentCollection" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DMCI-isf\william.o'dell.adm</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="defAddress00" serializeAs="String">
                <value>odie@odiesystems.com</value>
            </setting>
            <setting name="defName00" serializeAs="String">
                <value>Odie</value>
            </setting>
            <setting name="defAddress01" serializeAs="String">
                <value>suzypeterson@mac.com</value>
            </setting>
            <setting name="defName01" serializeAs="String">
                <value>Suzy</value>
            </setting>
            <setting name="fav01" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="fav00" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="fav02" serializeAs="String">
                <value>"'</value>
            </setting>
            <setting name="maxBufferItemSize" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="maxBufferTotalSize" serializeAs="String">
                <value>4000000000</value>
            </setting>
            <setting name="soundFolder" serializeAs="String">
                <value>C:\Users\Odie\Documents\Media</value>
            </setting>
            <setting name="copyAlertSoundFile" serializeAs="String">
                <value>
chord.wav</value>
            </setting>
            <setting name="enableAlertSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="defaultSoundFolder" serializeAs="String">
                <value>C:\Windows\Media</value>
            </setting>
        </Clipboard_Test_Prj.My.MySettings>
    </userSettings>
</configuration>